/* .top-para {
    font-weight: 500;
    font-size: 18px;
    text-align: center;

}

.top-heading {
    font-weight: 500;
    font-size: 60px;
    text-align: center;
    padding-top: 10px;

}

.upper-btn {
    padding: 15px 25px;
    border: 1px solid #BEBAB1;
    display: inline-block;
    border-radius: 64px;
    margin-right: 10px;
    color:var(--gray) ;
    font-size: 25px;
    font-weight: 400;

}

.upper-btn:hover {
    background-color: var(--green);
    color: var(--black);
    transition: 0.3s ease-in-out;

}

.img-date {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    padding:15px 0 ;

}

.img-caption {
    font-weight: 500;
    font-size: 25px;
    color: var(--black);
    padding-bottom: 15px;

}
.learn-link{
    font-weight: 400;
    font-size: 18px;
    color: var(--black);
border-bottom: 1px solid black;

} */


/* 2 doctors plus icon    */


/* 1 about review 
border bottom responsive  */


/* 3 blog btns line  */

/* 4 section approach before icons  */


/* 5 patient-review border  */