


/* .img-caption {
    font-weight: 500;
    font-size: 25px;
    color: var(--black);
    padding-bottom: 15px;

}
.location-img{
    padding-top: 15px;
}
.img-date {
    font-weight: 400;
    font-size: 16px;
    color: var(--gray);
    padding:15px 0 ;

}
.location-para{
    padding:0;
} */